<div class="row">
  <h4 class="m-auto">
    {{ name }}
  </h4>
</div>
<div class="row px-2 pb-5" [ngSwitch]="type">
  <ngx-charts-line-chart *ngSwitchCase="'Line'"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xLabel"
    [yAxisLabel]="yLabel"
    (window:resize)="onResize($event)"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
  <ngx-charts-bar-vertical *ngSwitchCase="'Bar-V'"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xLabel"
    [yAxisLabel]="yLabel"
    (window:resize)="onResize($event)"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  <ngx-charts-bar-vertical-normalized *ngSwitchCase="'Bar-V-Norm'"
   [view]="view"
   [scheme]="colorScheme"
   [results]="data"
   [gradient]="gradient"
   [xAxis]="showXAxis"
   [yAxis]="showYAxis"
   [legend]="showLegend"
   [showXAxisLabel]="showXAxisLabel"
   [showYAxisLabel]="showYAxisLabel"
   [xAxisLabel]="xLabel"
   [yAxisLabel]="yLabel"
   (window:resize)="onResize($event)"
   (select)="onSelect($event)">
  </ngx-charts-bar-vertical-normalized>
  <ngx-charts-bar-horizontal *ngSwitchCase="'Bar-H'"
   [view]="view"
   [scheme]="colorScheme"
   [results]="data"
   [gradient]="gradient"
   [xAxis]="showXAxis"
   [yAxis]="showYAxis"
   [legend]="showLegend"
   [showXAxisLabel]="showXAxisLabel"
   [showYAxisLabel]="showYAxisLabel"
   [xAxisLabel]="xLabel"
   [yAxisLabel]="yLabel"
   (window:resize)="onResize($event)"
   (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
  <ngx-charts-bar-horizontal-normalized *ngSwitchCase="'Bar-H-Norm'"
   [view]="view"
   [scheme]="colorScheme"
   [results]="data"
   [gradient]="gradient"
   [xAxis]="showXAxis"
   [yAxis]="showYAxis"
   [legend]="showLegend"
   [showXAxisLabel]="showXAxisLabel"
   [showYAxisLabel]="showYAxisLabel"
   [xAxisLabel]="xLabel"
   [yAxisLabel]="yLabel"
   (window:resize)="onResize($event)"
   (select)="onSelect($event)">
  </ngx-charts-bar-horizontal-normalized>
</div>
