<app-navbar (queryEmitter)="setQuery($event)"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <h1 class="card-header bg-info text-center w-100">
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="d-none d-md-flex row">
    <div class="col-12">
      <div class="row">
        <h3 class="text-secondary p-5 m-auto">
          Plug-in electric vehicle Selling Countries
        </h3>
      </div>
    </div>
    <app-graph *ngFor="let graph of graphs | filter: query" [graphName] = "graph.graph_name" [type]="graph.type" class="col"></app-graph>
  </div>
  <div class="d-flex d-md-none">
    <div class="row m-auto">
      Sorry, charts available only on wide screen
    </div>
  </div>
</div>
