django == 3.2.16 #framework
gunicorn #deployment
drf-yasg #swagger
whitenoise #staticfiles
django-cors-headers #cors
djangorestframework == 3.11.1 #rest
djangorestframework-jwt #JWT
psycopg2-binary #postgresql
# rabbitmq-server #MQ
